{% extends "base.html" %}

{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/user_profile.css' %}">
{% endblock %}
{% block content %}
<div>
    <div>
        <h2>{{ username }}さんのフォローリスト</h2>
    </div>
    <div>
        {% if mycommunity %}
        {% for fw in mycommunity %}
        <a href="{% url 'community:community_top' name=fw.mycommunity %}">{{ fw.mycommunity }}</a>
        {% endfor %}
        {% else %}
        <p>まだどこもフォローしていません</p>
        {% endif %}
    </div>


</div>
{% endblock %}