{% extends "base.html" %}

{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/user_profile.css' %}">
{% endblock %}
{% block content %}
<li><a href="{% url 'post:post_list' %}">トップページ</a></li>
<div>
    <div>
        <h2>{{ username }}さんのフォローリスト</h2>
    </div>
    <div>
        {% for fw in following %}
        <a href="{% url 'accounts:profile' username=fw.following %}">{{ fw.following }}</a>
        {% endfor %}
    </div>


</div>
{% endblock %}