<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>投稿一覧</title>
    
</head>


<body>
    {% extends "base.html" %}
    {% load static %}
    {% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'cafe/cafe.css' %}">
    {% endblock %}
    {% block content %}
    <!--<div id="cafe_page">
        <div id="user_status">
            <img src="{% static 'images/27004osakakoiki01.png.webp' %}" class="cafe">
        </div>
    </div>-->
    {% if user.is_authenticated %}
            <div> {{ map | safe }}</div>
            {% else %}
            <h1>サインアップかログインをしてcafetimeの世界と繋がろう</h1>
            {% endif %}
    
    {% endblock %}
</body>
</html>