<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>投稿一覧</title>
    
</head>


<body>
    {% extends "base.html" %}
    {% load static %}
    {% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'cafe/cafe.css' %}">
    {% endblock %}
    {% block content %}
    <!--<div id="cafe_page">
        <div id="user_status">
            <img src="{% static 'images/27004osakakoiki01.png.webp' %}" class="cafe">
        </div>
    </div>-->
    {% if user.is_authenticated %}
            <li><a href="{% url 'community:community_create' %}">コミュニティ作成</a></li>
            <li><a href="{% url 'post:index' %}">csv書き出し</a></li>
            {% endif %}
            
    <h1>コミュニティ一覧</h1>
    {% for community in community_list %}
    <p><a href="{% url 'community:community_top' community.name %}">{{ community.name }}</a></p>
    {% endfor %}
    {% endblock %}
</body>
</html>