<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>投稿一覧</title>
    
</head>


<body>
    {% extends "base.html" %}
    {% load static %}
    {% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'cafe/cafe.css' %}">
    {% endblock %}
    {% block content %}
    <h2>Cafetime</h2>
    <div id="cafe_page">
        <div id="user_status">
            <img src="{% static 'images/27004osakakoiki01.png.webp' %}" class="cafe">
        </div>
    </div>
    <li><a href="{% url 'cafe:cafe' %}">Cafeページへのリンク</a></li>
    <form action="post">
        {% csrf_token %}
        <button type="submit" name="start_button">開始する</button>
        <button type="submit" name="finish_button">終了する</button>
    </form>
    <h1>投稿一覧</h1>
    {% for post in post_list %}
    <p>{{ post.content }}</p>
    {% endfor %}
    {% endblock %}
</body>

</html>